################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs/Server_Project
/Server/Server_Storage/.vs/Server_Storage/v17
/Server/Server_Storage/Debug
/Server/Server_Storage/packages/boost.1.82.0
/Server/Server_Storage/packages
/Server/Server_Storage/.vs/Server_Storage/FileContentIndex
